/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --disc-color: #3161e0;

}

html,
body
{
  height: 100%;
  min-width: 1200px;
}

section{
    padding 2rem 0;
}
/* #endregion Common */

/* #region Debug Styles */
.debug header{
    height: 60px;

}

.debug .small-container{
    min-height: 400px;
    background-color: aqua;
}

.debug section{
    min-height: 400px;
    background-color: blueviolet;
    padding:2rem;
}

.debug section .container{
    height: 300px;
    background-color: aquamarine;
    
}

.debug section .container .width-70, .width-30{
    background-color: greenyellow;
    border: 1px solid green;
}
/* #endregion Debug Styles */

/* #region Utilities */
.container{
   width:80%;
   margin: 0 auto;
   
    
}

.small-container{
    width: 70%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}
.width-70{
    width: 70%;
}
.width-30{
    width: 30%;
}
.logo-header, .menu-header, .botton-header
{
    background-color:rebeccapurple;
    
}
/* #endregion Utilities */
/* #region Header */

header{
    background-color: var(--disc-color);
    div.container{
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        
    }
}
/* #endregion Header */
/* #region Main */
.jumbotron{
    height: 450px;
     background-color: var(--disc-color);
}
/* #endregion Main */