/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
    max-width: 100%;
}
:root{
    --disc-color: #3161e0;

}

html,
body
{
  height: 100%;
  min-width: 1200px;
}

section{
    padding: 2rem 0;
}
/* #endregion Common */

/* #region Debug Styles */
.debug header{
    height: 60px;

}
/*
.debug .small-container{
   
    background-color: aqua;
}
*/
.debug section{
    min-height: 400px;
    background-color: blueviolet;
    padding:2rem;
}

.debug section .container{
    height: 300px;
    background-color: aquamarine;
    
}

.debug section .container .width-70, .width-30{
    background-color: greenyellow;
    border: 1px solid green;
}
/* #endregion Debug Styles */

/* #region Utilities */
.container{
   width:80%;
   margin: 0 auto;
   
    
}

.small-container{
    width: 50%;
    margin: 0 auto;
    
   
}

.d-flex{
    display: flex;
}
.width-70{
    width: 70%;
}
.width-30{
    width: 30%;
}
.logo-header, .botton-header{
max-width: 20%;
    
    
}

ul{
    display: flex;
    justify-content:center; 
    
}
li{
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 3rem;
    font-size: 14px;
    font-weight: bold;
    
}
.btn-header{
    background-color: white;
    border: none;
    padding: 12px;
    text-align: center;
    border-radius: 19px;
    font-size: 14px;
    font-weight: bold;
}
/* #endregion Utilities */
/* #region Header */

header{
    background-color: var(--disc-color);
    div.container{
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        
    }
}


/* #endregion Header */
/* #region Main */

.jumbotron{

    background-size: cover;
    background-position: center top;
    background-image: url(./img/jumbo.png);
    background-color: var(--disc-color);
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-jumbo{
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.text{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
}
p{
    margin: 2rem 1rem;
    
}
.btn-main{
    background-color: white;
    border: none;
    padding: 12px;
    text-align: center;
    border-radius: 19px;
    font-size: 14px;
    margin: 1rem 2rem;
}
#bl{
    color: white;
    background-color: black;
}
/* #endregion Main */
/* #region Footer */
footer{
    section{
    div.container{
        height: 100%;
        justify-content: space-between;
        align-items: stretch;
        padding: 1rem 0;
        gap: 2rem;
         
    }
    }
    
}
#f-item-doppio{
        width: 30%;
        background-color: bisque;

    }

footer div{
    background-color: bisque;
    width: 15%;
}
#last-region{
    height:100%;
}
/* #endregion Footer */