/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body
{
  height: 100%;
  min-width: 1200px;
}
/* #endregion Common */

/* #region Debug Styles */
.debug header{
    background-color: #3161e0;  
}


/* #endregion Debug Styles */

/* #region Utilities */
.container{
   width:80%;
   margin: 0 auto;
    
}

.small-container{
    width: 70%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.logo-header, .menu-header, .botton-header
{
    background-color:rebeccapurple;
    
}
/* #endregion Utilities */
/* #region Header */

header{
    
    div.container{
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        
    }
}
/* #endregion Header */
/* #region Main */
.jumbotron{
    height: 500px;
     
}
/* #endregion Header */